/* CSS cho Carousel */
.custom-carousel {
  overflow: hidden; /* Ẩn bất kỳ phần nào của ảnh nằm ngoài kích thước Carousel */
  border-radius: 15px; 
}

.custom-img-contain {
  width: 100%;
  height: 284px;
}

.custom-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-custom {
  display: flex;
  flex-direction: row;
}

nav {
  border-bottom: 2px solid rgb(0, 0, 0, 0.1) ;
}

.custom-a:hover {
  color: black;
}

.custom-backToTop {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

