.pagination {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.pagination a {
    color: #333;
    padding: 8px;
    margin:  0px;
    text-decoration: none;
    border: 1px solid #ddd;
}


.pagination {
  list-style: none;
  height: 31.5px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  cursor: pointer;
}


.page-item {
  display: none;
  padding: 2px 12px;
  height: 40.5px;
  width: 31.5px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}