body{
  width: 100%;
  display: flex;
}
.row{
  width: 1000px;
}
.fa-custom{
  font-size:20px;
  padding-right: 1em;

}
.card-body {
  text-align: left;
  padding: 20px 10px;
}
select option{
  width: 80%;
 font-size: medium;
}
.form-body>* {
  padding: 5px;
}

.form-label {
  width: 18%;
}


.form-control{
  width: 10%;
  border: 20px;
}
.form-select{
  width: 60%;
}
.text-custom {
  font-size: 20px;
}

.footer {
  text-align: center;
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

